<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YoutubeAPI_Key</key>
	<string>AIzaSyCPwTQJ8xXkbHPlh14a-KWv2cCR37wLP0s</string>
	<key>API_KEY</key>
	<string>fcc0c8dce4adf7adf70d3b96ae7b9e3b</string>
</dict>
</plist>
